.container{
    height:30vw;
    width:20vw;
    background-color: rgb(242, 93, 118);
    border-radius: 2vh;
    box-shadow: 0 0 7px
}

.display{
    height:50%;
    width:100%;

}

.main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

input[type="button"]{
    height: 7vh;
    width:7vh;
    margin:1vh;
    border: none;
    border-radius: 1vh;
    font-size: 3vh;
    box-shadow: 0 0 7px;
}

